<form onsubmit="submit()">
  <h2>Minimum Price:</h2>
  <mat-slider
  thumbLabel 
  tickInterval="0.1"
  step="0.1"
  min="0"
  max="1"
  [(value)]="minPrice"></mat-slider>

  <h2>Maximum Price:</h2>
  <mat-slider
    thumbLabel
    tickInterval="0.1"
    step="0.1"
    min="0"
    max="1"
    [(value)]="maxPrice"
  ></mat-slider>
  <br />
  <mat-form-field>
    <mat-label>Activity Type</mat-label>
    <mat-select [(value)]="selectedType">
      <mat-option value="">Choose one</mat-option>
      <mat-option *ngFor="let type of activityTypes" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <button mat-raised-button color="warn" type="button" (click)="submitFilter()">Submit</button>
</form>
